@define-color primary_color #5e81ac;
@define-color bg_color #2e3440;
@define-color text_color #e5e9f0;

* {
  font-family:
    JetBrainsMono Nerd Font,
    sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

#tray,
#workspaces button,
#wireplumber,
#network,
#cpu,
#temperature,
#memory,
#language,
#keyboard-state,
#clock {
  background-color: @bg_color;
  color: @text_color;
  padding: 0px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
}

#tray {
  padding-left: 7px;
  padding-right: 7px;
}

#workspaces button.active,
#workspaces button.active label {
  background-color: @primary_color;
  border-radius: 5px;
}

#workspaces {
  background-color: @bg_color;
  border-radius: 5px;
}
