if [ -n "$XDG_SESSION_DESKTOP" ]; then
  session="$XDG_SESSION_DESKTOP"
elif [ -n "$DESKTOP_SESSION" ]; then
  session="$DESKTOP_SESSION"
else
  echo "falied get current session"
  exit 1
fi
  
case "$session" in
  "dwm")
    export QT_QPA_PLATFORMTHEME=gtk3
    feh --bg-scale ~/.wp
    slstatus &
    lxqt-policykit-agent &
    dunst &
    dex -ae dwm &
    ;;
esac
